<%#= error_messages_for(:blog_post) %>

<table>
	<tr>
		<th><%= f.label(:title)%></th>
		<td><%= f.text_field(:title, :size => 40) %></td>
	</tr>
	<tr rowspan="2">
	    <div class="categorylist">
		  <h2>Categories:</h2>
		  <ul>
		    <% @all_categories.each do |cat| -%>
		    <li><%= check_box_tag('categories[]', cat.id,
		    @blog_post.categories.map {|c| c.id}.include?(cat.id)) %>
		        <%= cat.name %></li>
		    <% end -%>
		  </ul>
		</div>
	</tr>
	
	<tr>
		<th><%= f.label(:content)%></th>
		<td><%= f.text_area(:content, :cols => 50, :rows => 20, :style => "font-size: 1.1em;") %></td>
	</tr>
	<tr>
		<th><%= f.label(:author_id)%></th>
		<td><%= f.select(:author_id, @user_list) %></td>
	</tr>
	<tr>
		<th><%= f.label(:status, "Status")%></th>
		<td><%= f.select(:status, ['draft', 'published']) %></td>
	</tr>
	<tr>
		<th><%= f.label(:created_at, "Created")%></th>
		<td><%= f.datetime_select(:created_at, :order => [:month, :day, :year], :start_year => 2007, :end_year => Time.now.next_year.year) %></td>
	</tr>
</table>
